* {
    padding: 0;
    margin: 0;
}

.cabecalho {
    background-color: #FF8200;
    grid-area: cabecalho;
}

.menu {
    background-color: #7FC78E;
    grid-area: menu;
}

.secao-principal {
    background-color: #FFA9CA;
    grid-area: secao-principal;
}

.aside {
    background-color: #FFE200;
    grid-area: aside;
}

.rodape {
    background-color: #F48D76;
    grid-area: rodape;
}

.container {
    display: grid;
    grid: "cabecalho cabecalho cabecalho" 50px "menu secao-principal aside" 200px "rodape rodape rodape" 50px /  162px auto 162px;
}