.container div {
  border: 1px solid black;
  background-color: blueviolet;
  color: white;
}

.container {
  display: grid;
  grid-template-columns: minmax(100px, 800px) minmax(200px, 1fr) minmax(100px, 300px);
}