.container div{
  border: 1px solid black;
  color: white;
  font-size: 20px;
  background-color: blueviolet;
}

.container {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 200px); */

  grid-template: repeat(3, 150px) / repeat(2, auto);
  gap: 20px;
}