.laranja {
    background-color: #B25954;
}

.marrom {
    background-color: #766A67;
}

.verde-claro {
    background-color: #309c8B;
}

.verde-escuro {
    background-color: #35636C;
}

.azul {
    background-color: #43ABC0;
}

.rosa {
    background-color: #C55BA3;
}

.container {
    display: grid;
    grid-template: repeat(3, auto) / repeat(5, auto);
    gap: 15px;
}

.verde-claro {
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.azul {
    grid-column: 3 / span 3;
}