h1 {
  margin: 20px;
}

.container {
  width: 500px;  
  height: 500px;

  border: 2px solid #000;

  margin: 20px;
}

.container div {
  background-color: red;

  width: 50px;
  height: 50px;


  text-align: center;

  font-size: 20px;
  font-weight: 700;
}