.laranja {
    background-color: #B25954;
}

.marrom {
    background-color: #766A67;
}

.verde-claro {
    background-color: #309c8B;
}

.verde-escuro {
    background-color: #35636C;
}

.azul {
    background-color: #43ABC0;
}

.rosa {
    background-color: #C55BA3;
}

.container {
    display: grid;
    grid-template: repeat(3, auto) / repeat(5, auto);
    gap: 15px;
}

.verde-claro {
   grid-area: 1 / 1 / 3 / 3;
}

.azul {
    grid-area: 1 / 3 / 1 / 6;
}

.rosa {
    grid-area:  3 / 1 / 4 / 3;
}

.laranja {
    grid-area: 2 / 3 / 4 / 5;
}

.verde-escuro {
    grid-area: 2 / 5 / 3 / 6;
}

.marrom {
    grid-area: 3 / 5 / 3 / 6;
}