h1 {
  margin: 20px;
}

.container {
  width: 500px;  
  height: 500px;

  border: 2px solid #000;

  margin: 20px;
}

.container div {
  background-color: red;

  width: 100px;
  height: 100px;

  margin: 10px;

  text-align: center;

  font-size: 20px;
  font-weight: 700;
}

.container2 {
  width: 500px;  
  height: 500px;

  border: 2px solid #000;

  margin: 20px;
}

.container2 div {
  background-color: red;



  margin: 10px;

  text-align: center;

  font-size: 20px;
  font-weight: 700;
}